.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-medium;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button--reserve {
  margin-bottom: 5px;
}

.button--link {
  backgound: none;
}

.button--secondary {
  background: #888888;
}


.button--div {
  float: right;
}

.clearfix {
  overflow: auto;
}