.room-container {
  margin: 3% auto 0 ;
  padding: 0 $m-size;
  max-width: 100rem;
  border: 2px solid darken($light-blue, 40%);
  border-radius: 10px;
}

.room-sold-out {
  color: $red;
  background-color: $light-red;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.rooms-available {
  color: darken($dark-green, 10%);
  background-color: $light-green;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.price {
  color: blue;
  background-color: lighten($light-blue, 25%);
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.wrap {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}

.wrap > div {
  height: 100px;
  text-align: center;
  border: 1px solid darken($off-white, 1%);
}

.room-desc {
  padding: 1% 0 1% 0;
}
