// Colors
$dark-grey: #333;
$grey: #666;
$blue: #0077CC;
$dark-blue: #364051;
$light-orange:#f07c00;
$off-white: #f7f7f7;
$light-blue: #5bbaff;
$dark-blue: #4c76b2;
$red: #e21111;
$light-red: #faf3eb;
$light-green: #dff6e1;
$dark-green: #0ab21b;

//fontsize
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;
//Spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.4rem;
$xs-size: 0.6rem;
$desktop-breakpont: 45rem;
